# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
#*.a

# OSX files
*.DS_Store


# Android Studio Files
local.properties
bin/
out/
gen/
.idea/
*.iml
*.iws
*.ipr

# Gradle Files
.gradle/

/project/android/obj
/project/windows/Ejecta-X/Debug
/project/windows/.vs
/project/windows/Debug
/project/windows/UpgradeLog.htm
/project/windows/Ejecta-X/Release
/project/android/libs/armeabi-v7a/*.so
/project/android/assets/www/shaders
/project/windows/cmake-build-debug-visual-studio
/project/windows/cmake-build-debug-visual-studio-event-trace
/project/windows/cmake-build-debug
/project/windows/Ejecta-X/Ejecta-X.dir
/project/windows/CMakeFiles
/project/cwindows/.vs/Ejecta-X/v16
/project/cwindows
/project/windows/Ejecta-X/files/build
/project/windows/Ejecta-X/*.aps
