# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
#*.a

# OSX files
*.DS_Store


# Android Studio Files
local.properties
bin/
out/
gen/
.idea/
*.iml
*.iws
*.ipr

# Gradle Files
.gradle/

/project/android/obj
/project/windows/Ejecta-X/Debug
/project/windows/.vs
/project/windows/Debug
/project/windows/UpgradeLog.htm
/project/windows/Ejecta-X/Release
/project/android/libs/armeabi-v7a/*.so
/project/android/assets/www/shaders
